@model StudentEnrolment.Models.Course
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Course</h1>

<div>
    <form method="post">
        <label for="Name">Course Title</label>
        <input name="Name" />
    </form>

</div>

