@using StudentEnrolment.Models
@model StudentEnrolment.Models.CourseViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Course</h1>

<div>
    <form method="post">
        <label asp-for="Name">Course Title</label>
        <input asp-for="Name" />
        <select asp-for="Elements" asp-items="Html.GetEnumSelectList(typeof(Element))">
            <option selected="selected" value="">Please select</option>
        </select>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>

