
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nav</title>
</head>
<body>
    <ul class="nav-list">
        <li><a asp-area="" asp-controller="Course" asp-action="Index">Courses</a></li>
        <li><a asp-area="" asp-controller="Student" asp-action="Index">Students</a></li>
    </ul>
</body>
</html>
